<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3.0 - 小马技术</title>
	
	<!--引用Vue 最新版	-->
    <script src="https://unpkg.com/vue@next"></script>
	
	<!--引入bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> 
</head>
<body>
    <div id="hello-vue" class="m-3 p-3 border border-success">
	<!-- m-3 p-3 border border-success 为bootstrap的样式-->
	        <h3>v-for普通用法</h3>
        <ul>
            <!--循环languages 对象，获得值 -->
            <li v-for="item in languages">{{item.name}}</li>
            
        </ul>
        <hr>
        <h3>v-for索引</h3>
        <ul>
            <!--元组，index为索引 -->
            <li v-for="(item, index) in languages">{{index+1}} - {{item.name}}</li>
        </ul>
        <hr>
        <h3>v-for循环对象</h3>
        <ul>
            <!--获得是每个属性的值 -->
            <li v-for="val in game_sfv">{{val}}</li>
        </ul>
        <hr>
        <h3>v-for循环对象(附带标题)</h3>
        <ul>
            <!--title 也可以为别的名称，比如key，attr -->
            <li v-for="(val, title) in game_sfv">{{title}} -> {{val}}</li>
        </ul>
        <hr>
        <h3>v-for循环对象(附带标题+索引)</h3>
        <ul>
            <li v-for="(val, name, indexs) in game_sfv">{{indexs+1}} - {{name}} -> {{val}}</li>
        </ul>
    </div>
    <script>
        Vue.createApp({
            /* options */
            data() {//两个数据，编程语言
                return {
                    languages: [
                        {name: "Python"},
                        {name: "Java"},
                        {name: "Go"}
                    ],
                    game_sfv: {//是一个对象，不是数组
                        name: "Street Fighter 5",
                        platform: "PS4",
                        developer: "Capcom",
                        release: "2016/02/16",
                        genre: "格斗"
                    }
                }
            },
            methods: {}
        }).mount('#hello-vue')
    </script>
       
</body>
</html>